---
import { skills } from "../TechStack/Skills.astro";
import HTML from "../icons/HTML.astro";
import Css from "../icons/Css.astro";
import JavaScript from "../icons/JavaScript.astro";
import React from "../icons/React.astro";
import Node from "../icons/Node.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Chip from "../ui/Chip.astro";
---

{
    skills.map((skill) => (
        <Chip>
            <span slot="icon">
                {skill.name === "HTML5" && <HTML />}
                {skill.name === "CSS3" && <Css />}
                {skill.name === "JavaScript" && <JavaScript />}
                {skill.name === "ReactJS" && <React />}
                {skill.name === "NodeJS" && <Node />}
                {skill.name === "Astro" && <AstroIcon />}
            </span>

            <span slot="title">{skill.name}</span>
        </Chip>
    ))
}
