---
import Button from "./ui/Button.astro";
---

<nav class="p-4 sticky top-0">
    <ul class="flex justify-center gap-5">
        <li>
            <Button href="#">Inicio</Button>
        </li>
        <li>
            <Button href="#About">About Me</Button>
        </li>
        <li>
            <Button href="#Experience">Experience</Button>
        </li>
    </ul>
</nav>
