<div
    class="flex place-content-center mt-2 mr-1 rounded-full bg-slate-700 hover:bg-slate-600 px-3.5 py-1.5 max-w-15">
    <div class="size-4">
        <slot name="icon" />
    </div>
    <div class="ml-2">
        <p class="block font-sans text-sm font-medium leading-none text-slate-300 antialiased">
            <slot name="title" />
        </p>
    </div>
</div>
